.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa; 

  .unauthorized-card {
    max-width: 450px;
    padding: 16px;
    border-top: 4px solid #f44336; 
  }

  .content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    text-align: center;

    .main-lock-icon {
      font-size: 64px;
      height: 64px;
      width: 64px;
      margin-bottom: 16px;
      color: #757575;
    }

    p {
      color: rgba(0, 0, 0, 0.6);
      line-height: 1.5;
    }
  }
  .btn-go-back{
   display: flex;
   align-items: center;   
   gap: .5rem;
  }
}